body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f5f7;
    margin: 0;
    padding: 20px;
    color: #111;
}


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 16px;
    background-color: #eee;
    border-radius: 8px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.top-bar {
    background: #fff;
    padding: 16px 24px;
    border-radius: 12px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar .left-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.camera-icon-wrapper {
    background-color: #ffe0b2;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-svg {
    width: 24px;
    height: 24px;
    color: #ffc107;
}

.top-bar h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.top-bar .meta {
    font-size: 14px;
    color: #666;
    display: flex;
    align-items: center;
    gap: 10px;
}

.video-wrapper {
    position: relative;
    background: #000;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

video {
    width: 100%;
    display: block;
}

.video-overlay {
    position: absolute;
    top: 12px;
    left: 12px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 4px;
}

.video-footer {
        position: absolute;
        right: 10px;
        top:10px;
        color: #fff;
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 10px;
      }

.dot {
    width: 6px;
    height: 6px;
    background: red;
    border-radius: 50%;
}

.bottom-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
}

.card h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 16px;
}

.info-line {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 4px 0;
}

.status-line {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 8px;
    padding: 6px 0;
}

.status-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.green {
    background-color: #2ecc71;
}

.yellow {
    background-color: #f1c40f;
}

.blue {
    background-color: #3498db;
}

.action-button {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 8px;
    background-color: #ffc107;
    color: #000;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;

}

.action-button:hover {
    background-color: #e0ac00;
}